.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    color: whitesmoke;
    position: relative;
    padding: 1rem;

}
p {
    text-transform: uppercase;
    font-family: sans-serif;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
    font-size: larger;
}

.fancy-header {
    font-size: 4vw;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}

html, body{
    height: 100%;
}



h2 {
    text-transform: uppercase;
    font-size: larger;
    font-family: -apple-system, sans-serif;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 25px;
}

ul {

    text-align: center;
    margin: auto;
}
li {
    margin-top: 15px;
    display: inline-block;
    margin-right: 25px;
    font-size: larger;
}


ol {
    text-align: center;
    margin-top: 20px;
}

table  {
    width: 600px;
    margin-left: 350px;
}


th, td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: center;
    border-top: 1px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;

}

img.medium {
    width: 250px;
    height: 250px;
}
img.align-left {
    margin-left: 20px;
}


footer {
    margin-top: 50px;
}




video {
   object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;

}