.container {
    /*float: right;*/
    /*position: relative;*/
    margin: 10px 50px 10px auto;
    width: 900px;
    height: 550px;
}
li {
    list-style: none;
}
.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;

}